.all-window-height {
    height: 100vh;
}

.navbar-default {
    background-color: #1ABC9C ;
    border-color: #1ABC9C ;
}

.navbar-brand {
    font-size: 170%;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav li a {
    color: #fff;
	font-size: 130%;
}

.navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a:hover {
    color: #333;
    background-color: transparent;
}

.btn-success {
    color: #FFF;
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}

.btn-success:hover {
    color: #FFF;
    background-color: #E84B3C;
    border-color: #E84B3C;
}

.btn-success:focus {
    color: #FFF;
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}

.btn-success:active:focus, .btn-success:active:hover, .open > .dropdown-toggle.btn-success.focus, .open > .dropdown-toggle.btn-success:focus, .open > .dropdown-toggle.btn-success:hover {
    color: #FFF;
    background-color: #E84B3C;
    border-color: #E84B3C;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.navbar-header{
	padding-left: 15px;
}

.navbar-right{
	padding-right: 15px;
}

#carousel-example-generic{
	height: 74%;
}

#carousel-example-generic-two{
	height: 100%;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.carousel-inner{
	height: 100%;
}

.carousel-caption{
	height: 65%;
}

.navbar{
	margin-bottom: 0;
}

.item img{
	width: 100%;
}

.info{
	height: 10%;
}

.info p{
	padding-top: 5%;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 170%;
	color: #333;
}

.buy {
	height: 16%;
}

.buy  form{
	height: 100%;
}

.buy .btn-lg{
	height: 100%;
	border-radius: 0;
	font-size: 250%;
}

.buy .btn-primary {
	font-size: 300%;
    background-color: #1ABC9C;
    border-color: #1ABC9C;
    border-radius: 0px;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.buy .btn-primary:hover {
    background-color: #E84B3C;
    border-color: #E84B3C;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.buy .btn-primary :active {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.buy .btn-primary:focus {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.text-center{
	padding-top: 2%;
	padding-bottom: 2%;
}

.col-lg-5 h3{
	margin-bottom: 10%;
}

.col-lg-5 iframe{
	padding-top: 4%;
}

.line{
	border-bottom: 1px solid #ccc;
}

.line h4 strong{
	color: #1ABC9C;
}

.line p{
	color: #777;
}

.line p strong{
	color: #333;
}

.team{
	width: 285px;
	padding-left: 0;
	padding-right: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.team h4 strong{
	color: #1ABC9C;
}

.team2 h4 strong{
	color: #1ABC9C;
}

.team img{
	padding-bottom: 10%;
	padding-top: 10%;
}

.address{
	border-top: 1px solid #ccc;
	margin-top: 10%;
	padding-bottom: 5%;
}

.address p{
	padding-top: 5%;
}

.love{
	font-size: 450%;
}

.red{
	color: #C01400;
}

.ftr{
	height: 375px;
	background-color: #222;
	background-image: url(../img/footer.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.contacts{
	color: #fff;
	padding-top: 6%;
}

.contacts a{
	color: #fff;
}

.maintext{
	font-size: 500%;
}

.othertext{
	font-size: 200%;
}

.more{
	margin: 0 auto;
	font-size: 120%;
}

a:focus, a:hover {
	color: #1ABC9C;
	text-decoration: none;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

a {
	color: #1ABC9C;
	text-decoration: none;
}

.well {
    background-color: #fff;
    border: none;
    border-radius: none;
    box-shadow: none;
}

.well .col-sm-2, .col-md-2, .col-lg-2 {
  padding-left: 2%;
  padding-right: 2%;
}

.main-first{
	height: 100%;
	background-image: url(../img/main_carousel/LED_panel_sketch.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.main-second{
	height: 100%;
	background-image: url(../img/main_carousel/LED_panel_drawing.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.main-third{
	height: 100%;
	background-image: url(../img/main_carousel/sawworkshop_ukrainian_manufactory.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.main-fourth{
	height: 100%;
	background-image: url(../img/main_carousel/LED_panel_thickness.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.main-fifth{
	height: 100%;
	background-image: url(../img/main_carousel/clipcord_power_supply.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.main-sixth{
	height: 100%;
	background-image: url(../img/main_carousel/sawworkshop_LED_panel.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.main-seventh{
	height: 100%;
	background-image: url(../img/main_carousel/LED_panel_view.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.main-eighth{
	height: 100%;
	background-image: url(../img/main_carousel/sawworkshop_present.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.main-nineth{
	height: 100%;
	background-image: url(../img/main_carousel/LED_panel_instruction.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.main-tenth{
	height: 100%;
	background-image: url(../img/main_carousel/the_best_present_for_tattooists.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.minor-first{
	height: 100%;
	background-color: #222;
	background-image: url(../img/minor_carousel/LED_panel_present.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.minor-second{
	height: 100%;
	background-image: url(../img/minor_carousel/LED_panel_unpackaging.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.minor-third{
	height: 100%;
	background-image: url(../img/minor_carousel/sawworkshop_manufactory.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.thanks{
	height:70%;
}

.ftr_2{
	height: 30%;
	background-color: #222;
	background-image: url(../img/footer.jpg);
	background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.contacts_2{
	color: #fff;
}

.contacts_2 a{
	color: #fff;
}

.middle{
	display: inline-block;
	vertical-align: middle;
}

.middle img{
	width: 55%;
	height: auto;
}

.middle p{
	font-size: 350%;
}

.helper {
    display:inline-block;
    vertical-align:middle;
    height:100%;
    width:0px;
}

.more button{
	display: block;
	margin: 0 auto;
}

.more button p{
	margin: 0;
}

.fb_photo .btn-primary {
	font-size: 300%;
    background-color: #1ABC9C;
    border-color: #1ABC9C;
    border-radius: 0px;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.fb_photo .btn-primary:hover {
    background-color: #E84B3C;
    border-color: #E84B3C;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.fb_photo .btn-primary :active {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.fb_photo .btn-primary:focus {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.distr-opacity img{
	opacity: 0.9;
}

.distr-opacity img:hover{
	opacity: 1;
}

.navbar-right .dropdown{
	background-color: #1EA58A;
}

.navbar-right .dropdown li a{
	color: #ccc;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color:#fff;
	background-color: #1EA58A;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}
/*----------------------------------*/ 

@media all and (max-width: 480px) {

.info{
	height: 20%;
}

.info p{
	font-size: 120%;
	text-align: center;
	padding-top: 2%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.text-center {
    padding-top: 0;
    padding-bottom: 0;
}

#carousel-example-generic{
	height: 64%;
}

.buy .btn-lg{
	font-size: 150%;
}

.maintext{
	font-size: 200%;
}

.othertext{
	font-size: 100%;
}

.love{
	font-size: 200%;
}

.ftr{
	height: 250px;
}

.team2{
	width: 250px;
	padding-left: 0;
	padding-right: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.middle img{
	width: 40%;
	height: auto;
}

.middle p{
	font-size: 150%;
}

.distr-opacity img{
	display: block;
	margin: 0 auto;
}

   }

/*----------------------------------*/   
   
@media all and (min-width: 481px) and (max-width: 640px) {

.info{
	height: 20%;
}

.info p{
	font-size: 130%;
	text-align: center;
	padding-top: 1%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.text-center {
    padding-top: 0;
    padding-bottom: 0;
}

#carousel-example-generic{
	height: 64%;
}

.buy .btn-lg{
	font-size: 200%;
}

.maintext{
	font-size: 250%;
}

.othertext{
	font-size: 125%;
}

.love{
	font-size: 250%;
}

.ftr{
	height: 250px;
}

.team2{
	width: 250px;
	padding-left: 0;
	padding-right: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.middle img{
	width: 50%;
	height: auto;
}

.middle p{
	font-size: 200%;
}

.distr-opacity img{
	display: block;
	margin: 0 auto;
}

   }
   
/*----------------------------------*/   
   
@media all and (min-width: 641px) and (max-width: 767px) {

.info{
	height: 20%;
}

.info p{
	font-size: 170%;
	text-align: center;
	padding-top: 2%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.text-center {
    padding-top: 0;
    padding-bottom: 0;
}

#carousel-example-generic{
	height: 64%;
}

.buy .btn-lg{
	font-size: 225%;
}

.maintext{
	font-size: 300%;
}

.othertext{
	font-size: 150%;
}

.love{
	font-size: 275%;
}

.ftr{
	height: 280px;
}

.team2{
	width: 250px;
	padding-left: 0;
	padding-right: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.distr-opacity img{
	display: block;
	margin: 0 auto;
}

   }
   
/*----------------------------------*/   
   
@media all and (min-width: 768px) and (max-width: 960px) {

.team{
	width: 180px;
	padding-left: 0;
	padding-right: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.love{
	font-size: 300%;
}

.contacts a button{
	font-size: 100%;
}

.contacts h2{
	font-size: 150%;
}

.ftr{
	height: 280px;
}

.contacts_2 h2{
	font-size: 150%;
}

.contacts_2 a button{
	font-size: 100%;
}

   }
   
/*----------------------------------*/   
   
@media all and (max-height: 640px) {

	.middle img{
		width: 45%;
		height: auto;
	}

	.middle p{
		font-size: 250%;
	}

	.thanks{
		height:65%;
	}

	.ftr_2{
		height: 35%;
	}

}

img.language:hover, a.choose img.language{
  border-color: #fff solid 1px;
  -moz-box-shadow: 0 0 10px #fff;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0px 0px 10px #fff;
}
img.language{
	/*display: inline-block;*/
	cursor:pointer;
	/*padding: 15px 15px;*/
	font-size: 18px;
	line-height: 20px;
}